{% extends "base.html" %}
{% block content %}

    <!-- Banner -->
    <section>
        <div class="row">
            <div class="col-2 col-0-small"></div>
            <div class="col-8 col-12-small">
                <h2>Get in touch</h2>
                <p>I am currently looking for employment as a junior Django developer, so please don't hesitate to
                    reach out. I am open to working in NYC or in Europe. I am also open to working remotely.</p>
                <ul class="contact">
                    {% for social in socials %}
                    <li class="icon {{social.0}}"><a id="ml-link-nav" href="{{social.1}}">{{social.2}}</a></li>
                    {%endfor%}
                </ul>
            </div>
            <div class="col-2 col-0-small"></div>
        </div>
    </section>

{% endblock content %}
