{% extends "base.html" %}
{% block content %}

    <!-- Banner -->
    <section id="banner">
        <div class="content">
            <header>
                <h1>Hi, I’m Thomas</h1>
                <p>And I'm a freelance Django developer.</p>
            </header>
            <p>I have a degree in Mathematics and a minor in Computer Science. I love building things that
                make people's lives easier and more efficient.
                In my free time I dance, read, and fight. (Not all at the same time though!)</p>
            <ul class="actions stacked">
                <li><a href="django.html" class="button primary big">Check out my django portfolio</a></li>
                <li><a href="opensource.html" class="button big">Read about my contributions to open-source</a></li>
            </ul>
        </div>
        <span class="image object">
            <img src="assets/images/profile.webp" alt="" />
        </span>
    </section>

{% endblock content %}
