{% extends "base.html" %}
{% block content %}
    <section>
    <h1 id="content">Miscellaneous</h1>
    <p>This section of my portfolio showcases a diverse collection of scripts and projects, each reflecting the initial steps and experiments that have contributed to my evolving journey as a developer. While each piece holds its unique place in my learning curve, they collectively represent the foundational experiences that have shaped my current expertise.</p>
    <div class="row">
    {% for project in misc %}
        <div class="col-6 col-12-small">
                    <h3>{{project.title}}</h3>
                {{project.blurb}}
                <ul class="actions">
                    {% if project.github_link %}
                    <li><a href={{project.github_link}} class="button primary small">Github</a></li>
                    {%endif%}

                    {%if project.project_link %}
                    <li><a href={{project.project_link}} class="button small">Project website</a></li>
                    {%endif%}
                </ul>


        </div>
    {% endfor %}
    </div>
    </section>
    
{% endblock content %}
