{% extends "project_pic_left.html" %}

{% block title %}
    And I'm a freelance Django developer.
{% endblock title%}

{% block blurb %}
    <p>Hi from the blurb!</p>
{% endblock blurb%}


{% block image_src %}
    "assets/images/pic10.jpg"
{% endblock image_src%}

{% set github_link="https://github.com/ratchek" %}
{% set project_link="https://www.google.com/" %}

{% block links %}
    <ul class="actions">
        <li><a href={{github_link}} class="button primary big">Github</a></li>
        {%if project_link %}
        <li><a href={{project_link}} class="button big">Project website</a></li>
        {%endif%}
    </ul>
{% endblock links %}