        <!-- Banner -->
        <section id="banner">
            

            <div class="content">
                <header id={{project.id}}>
                    <h3>{{project.title}}</h3>
                </header>
                {{project.blurb}}
                <ul class="actions">
                    {% if project.github_link %}
                    <li><a href={{project.github_link}} class="button primary big">Github</a></li>
                    {%endif%}

                    {%if project.project_link %}
                    <li><a href={{project.project_link}} class="button big">Project website</a></li>
                    {%endif%}
                </ul>

                {% if project.gallery is defined and project.gallery|length>0 %}
                    <header>
                        <p>Gallery</p>
                    </header>
                    <div class="box alt">
                        <div class="row gtr-100 gtr-uniform">
                        {% for pic in project.gallery %}
                            <div class="col-4">
                                <span class="image fit">
                                    <a href="assets/images/{{pic}}" data-lightbox={{project.title}}>

                                        <picture>
                                            <source media="(max-width: 600px)" srcset="assets/images/mobile/small/{{pic}}">
                                            <source media="(min-width: 601px)" srcset="assets/images/small/{{pic}}">
                                            <img aria-hidden="true" loading="lazy" decoding="async" src="assets/images/small/{{pic}}" alt="Image of {{project.title}} app">
                                        </picture>                    
                                    </a>
                                </span>
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                {% endif %}
            </div>

            <span class="image object">
                <a href="assets/images/{{project.main_image}}" data-lightbox={{project.title}}>
                    <picture>
                        <source media="(max-width: 600px)" srcset="assets/images/mobile/{{project.main_image}}">
                        <source media="(min-width: 601px)" srcset="assets/images/{{project.main_image}}">
                        <img aria-hidden="true" loading="lazy" decoding="async" src="assets/images/{{project.main_image}}" alt="Image of {{project.title}} app"> 
                    </picture>                    
                </a>
            </span>       
        </section>
