<div id="sidebar">
    <div class="inner">

        <!-- Search -->
        <!-- <section id="search" class="alt">
            <form method="post" action="#">
                <input type="text" name="query" id="query" placeholder="Search" />
            </form>
        </section> -->

        <!-- Menu -->
        <nav id="menu">
            <header class="major">
                <h2>Menu</h2>
            </header>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li>
                    <span id= "side-portfolio" class="opener">My Work</span>
                    <ul>
                        <li><a href="django.html">Django</a></li>
                        <li><a href="opensource.html">Open Source Contributions</a></li>
                        <li><a href="misc.html">Miscellaneous</a></li>
                    </ul>
                </li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </nav>

        <!-- Section -->
        <section>
            <header class="major">
                <h2>Recent</h2>
            </header>
            <div class="mini-posts">
                {% for project in sidebar_projects %}
                    <article>
                        <a href="{{project.1}}#{{project.0.id}}" class="image">
                            <picture>
                                <source media="(max-width: 600px)" srcset="assets/images/mobile/nav/{{project.0.nav_image}}">
                                <source media="(min-width: 601px)" srcset="assets/images/nav/{{project.0.nav_image}}">
                                <img aria-hidden="true" decoding="async" src="assets/images/nav/{{project.0.nav_image}}" alt="Image of {{project.0.title}} project" >
                        </a>
                        <h3>{{project.0.title}}</h3>
                        <p>{{project.0.blurb | striptags| first_sentence}}</p>
                    </article>
                    <ul class="actions">
                        <li><a href="{{project.1}}#{{project.0.id}}" class="button">More</a></li>
                    </ul>
                {% endfor%}
            </div>
        </section>

        <!-- Section -->
        <section>
            <header class="major">
                <h2>Get in touch</h2>
            </header>
            <p>I am currently looking for employment as a junior Django developer, so please don't hesitate to
                reach out.</p>
            <ul class="contact-sidebar">
                {% for social in socials %}
                <li class="icon {{social.0}}"><a id="ml-link-nav" href="{{social.1}}">{{social.2}}</a></li>
                {%endfor%}
            </ul>
        </section>

        <!-- Footer -->
        <footer id="footer">
            <!-- <p class="copyright">&copy; Untitled. All rights reserved. Demo Images: <a
                    href="https://unsplash.com">Unsplash</a>. Design: <a href="https://html5up.net">HTML5
                    UP</a>.</p> -->
        </footer>

    </div>
</div>